In [9]:
from alpha_vantage.timeseries import TimeSeries
from alpha_vantage.foreignexchange import ForeignExchange
from alpha_vantage.fundamentaldata import FundamentalData

api_file = open("./api-key.txt", "r")
api_key = api_file.read()
api_file.close()

# Alpha Vantage wrapper setup
ts = TimeSeries(key=api_key, output_format='pandas', indexing_type='date')
cc = ForeignExchange(key=api_key, output_format='pandas', indexing_type='date')
fd = FundamentalData(key=api_key, output_format='pandas')

In [26]:
aapl, metadata = ts.get_daily_adjusted('AAPL', outputsize='full')

In [27]:
aapl

,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount,8. split coefficient
date,,,,,,,,
2021-07-23,147.550,148.7100,146.92,148.56,148.560000,70950471.0,0.0,1.0
2021-07-22,145.935,148.1950,145.81,146.80,146.800000,77338156.0,0.0,1.0
2021-07-21,145.530,146.1300,144.63,145.40,145.400000,74993460.0,0.0,1.0
2021-07-20,143.460,147.0997,142.96,146.15,146.150000,96350036.0,0.0,1.0
2021-07-19,143.750,144.0700,141.67,142.45,142.450000,121434571.0,0.0,1.0
...,...,...,...,...,...,...,...,...
1999-11-05,84.620,88.3700,84.00,88.31,0.677937,3721500.0,0.0,1.0
1999-11-04,82.060,85.3700,80.62,83.62,0.641933,3384700.0,0.0,1.0
1999-11-03,81.620,83.2500,81.00,81.50,0.625658,2932700.0,0.0,1.0
1999-11-02,78.000,81.6900,77.31,80.25,0.616062,3564600.0,0.0,1.0
1999-11-01,80.000,80.6900,77.37,77.62,0.595872,2487300.0,0.0,1.0

In [28]:
eurusd, _ = cc.get_currency_exchange_daily(from_symbol='EUR', to_symbol='USD', outputsize='full')

In [29]:
eurusd

            1. open  2. high  3. low  4. close
date
2021-07-23  1.17747  1.17865  1.1753   1.17720
2021-07-22  1.17956  1.18305  1.1756   1.17678
2021-07-21  1.17802  1.18050  1.1750   1.17948
2021-07-20  1.17957  1.18025  1.1754   1.17805
2021-07-19  1.18073  1.18245  1.1762   1.17975
...             ...      ...     ...       ...
2002-05-31  0.93850  0.94000  0.9279   0.93230
2002-05-30  0.93640  0.94140  0.9338   0.93870
2002-05-29  0.92900  0.93680  0.9267   0.93650
2002-05-28  0.92070  0.93060  0.9193   0.92910
2002-05-27  0.91990  0.92210  0.9180   0.92090

[5000 rows x 4 columns]

In [3]:
msft, _ = fd.get_company_overview(symbol='MSFT')

In [8]:
msft

    Symbol     AssetType  ... LastSplitFactor LastSplitDate
NaN   MSFT  Common Stock  ...             2:1    2003-02-18

[1 rows x 59 columns]