In [14]:
from alpha_vantage.timeseries import TimeSeries
from alpha_vantage.foreignexchange import ForeignExchange
from alpha_vantage.fundamentaldata import FundamentalData
import pandas as pd

ALPHA_VANTAGE_API_KEY=''

# Alpha Vantage wrapper setup
ts = TimeSeries(output_format='pandas', indexing_type='date')
cc = ForeignExchange(output_format='pandas', indexing_type='date')
fd = FundamentalData(output_format='pandas')

In [3]:
timeline = pd.date_range(start='2020-01-01', end='2020-12-31')

In [6]:
aapl = ts.get_daily_adjusted('AAPL', outputsize='full')[0].iloc[::-1]

In [16]:
aapl.reindex(index=timeline, method='nearest').fillna(method='ffill').loc[timeline[0]:timeline[-1]]

,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount,8. split coefficient
2020-12-31,134.08,134.740,131.7200,132.69,132.267922,99116586.0,0.0,1.0
2020-12-30,135.58,135.990,133.4000,133.72,133.294645,96452124.0,0.0,1.0
2020-12-29,138.05,138.789,134.3409,134.87,134.440987,121047324.0,0.0,1.0
2020-12-28,133.99,137.340,133.5100,136.69,136.255198,123124632.0,0.0,1.0
2020-12-27,133.99,137.340,133.5100,136.69,136.255198,123124632.0,0.0,1.0
...,...,...,...,...,...,...,...,...
2020-01-05,293.79,299.960,292.7500,299.80,74.070885,29644644.0,0.0,1.0
2020-01-04,297.15,300.580,296.5000,297.43,73.485335,36633878.0,0.0,1.0
2020-01-03,297.15,300.580,296.5000,297.43,73.485335,36633878.0,0.0,1.0
2020-01-02,296.24,300.600,295.1900,300.35,74.206773,33911864.0,0.0,1.0
2020-01-01,296.24,300.600,295.1900,300.35,74.206773,33911864.0,0.0,1.0

In [28]:
eurusd, _ = cc.get_currency_exchange_daily(from_symbol='EUR', to_symbol='USD', outputsize='full')

In [29]:
eurusd

            1. open  2. high  3. low  4. close
date
2021-07-23  1.17747  1.17865  1.1753   1.17720
2021-07-22  1.17956  1.18305  1.1756   1.17678
2021-07-21  1.17802  1.18050  1.1750   1.17948
2021-07-20  1.17957  1.18025  1.1754   1.17805
2021-07-19  1.18073  1.18245  1.1762   1.17975
...             ...      ...     ...       ...
2002-05-31  0.93850  0.94000  0.9279   0.93230
2002-05-30  0.93640  0.94140  0.9338   0.93870
2002-05-29  0.92900  0.93680  0.9267   0.93650
2002-05-28  0.92070  0.93060  0.9193   0.92910
2002-05-27  0.91990  0.92210  0.9180   0.92090

[5000 rows x 4 columns]

In [3]:
msft, _ = fd.get_company_overview(symbol='MSFT')

In [8]:
msft

    Symbol     AssetType  ... LastSplitFactor LastSplitDate
NaN   MSFT  Common Stock  ...             2:1    2003-02-18

[1 rows x 59 columns]